/* ------------------------------------------------------------------------------------------------- */
/* Variables */
/* ------------------------------------------------------------------------------------------------- */
$primary-color: #003578;
$secondary-color: #253a69;
$light-gray: #d3d3d3;
$border-color: #dee2e6;
$error-color: red;
$background-light: #f8f9fa;
$background-header: #e9ecef;
$text-dark: #495057;
$text-black: #000;
$text-white: #fff;

/* ------------------------------------------------------------------------------------------------- */
/* Estructura del HTML */
/* ------------------------------------------------------------------------------------------------- */
::ng-deep .p-inputtextarea {
    resize: none;
  }

.linea-de-color {
    height: 4px;
    background-color: $primary-color;
    width: 100%;
}

.centrado {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1.55rem;
    display: grid;
    place-items: center;
    width: 100%;
}

.header-title {
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
    margin-left: 20%;
}

.animated-grid {
    transition: all 0.3s ease-in-out;

    > * {
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }

    ::ng-deep .p-inputtextarea {
        resize: none;
        overflow: hidden;
        transition: max-height 0.2s ease-in-out;
        max-height: 500px; // o el valor que necesites para no cortar el contenido
      }
}

:host {
    ::ng-deep {
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .space {
            margin-bottom: 25px !important;
        }

        .label-margin {
            font-size: 11px !important;
            margin-right: 50px !important;
        }

        .p-button.custom-button-centerss {
            position: absolute;
            left: 46.5%;
            transform: translateX(-50%);
            display: inline-flex;
            align-items: center;
            border: 1px solid $light-gray !important;
            border-radius: 0.50rem !important;
            font-weight: 500 !important;
            height: 41px;
            white-space: nowrap;
            background-color: $secondary-color !important;
            color: $text-white !important;
            justify-content: center;
        }
    }
}

.title-header {
    position: relative;
    display: inline-block;
    padding-bottom: 0.5rem;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 6px;
        background: linear-gradient(270deg, #229bb9, #253a69, #336699, #229bb9);
        background-size: 400% 100%;
        animation: gradientMove 5s ease infinite;
        border-radius: 2px;
    }
}

// Animación
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.custom-container {
    padding-left: 20%;
padding-right: 20%;
}

.body {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}


::ng-deep {
    .p-tooltip .p-tooltip-text {
        background-color: #f9fafb;
        color: $text-black;
        width: 150%;
        font-size: 14px;
        font-weight: 400;
        white-space: pre-line;
    }

    .tooltip-required {
        color: $error-color;
    }
}

.error-message {
    color: $error-color;
    font-size: 12px;
    margin-left: 10px;
}


/* ------------------------------------------------------------------------------------------------- */
/* Para Dispositivos */
/* ------------------------------------------------------------------------------------------------- */

@mixin responsive-layout {
    .centracion {
        margin-right: 2%;
        margin-left: 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;

        .col {
            padding-right: 0;
        }
    }

    .custom-container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@mixin button-responsive {
    .button-container {
        flex-direction: column;
        align-items: stretch;
    }

    .left-buttons,
    .right-search {
        justify-content: center;
        width: 100%;
    }

    .right-search {
        margin-top: 1rem;
    }
}

@media (max-width: 880px) {
    @include responsive-layout;
    @include button-responsive;

    .centraciones {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }

    .left-buttons,
    .right-search {
        justify-content: center;
        width: 100%;
    }

    .right-search {
        margin-left: 0;
    }

    .tamano {
        height: 'autoResize';
    }
}

@media (max-width: 479px) {
    @include button-responsive;

    .responsive {
        display: none;
    }
}

:host ::ng-deep .p-inputtext:disabled {
    background-color: white !important;
    color: #333 !important;
    opacity: 1 !important;
  }

:host ::ng-deep .p-select.p-disabled {
    background-color: white !important;
    color: #333 !important;
    opacity: 1 !important;
    border-color: #ced4da !important; // Estilo de borde estándar
  }
  
:host ::ng-deep .p-select.p-disabled .p-select-label {
    color: #333 !important;
  }

  @media (max-width: 768px) {
    ::ng-deep p-inputotp .p-inputotp-input {
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      padding: 0.25rem;
      text-align: center;
    }
  }

  ::ng-deep .custom-message .p-message-text {
    color: black;
  }
