<br>

<div class="footer" >
    <img src="LOGO VRA-DD Blanco.png" style="transform: translateX(10px) scale(0.7);">

    <!-- Texto centrado -->
    <div class="header-container gap-2"
        style="display: flex; justify-content: center; align-items: center; text-align: center;">
        <span class="navbar-text text-light">
            Derechos reservados Universidad Nacional Autónoma de Honduras {{ currentYear }}
            <br>
            Desarrollado por la Vicerrectoría Académica
        </span>
    </div>

    <img src="Logo Blanco.png" alt="Logo Derecha" style="transform: translateX(-30px);">

    <img src="Logo DD-VRA UNAH Derecho.png" class="mobile-only">
</div>

<!-- @if (ready) {
  <div class="footer">
    <img src="LOGO VRA-DD Blanco.png" style="transform: translateX(10px) scale(0.7);">
    <div class="header-container gap-2"
         style="display: flex; justify-content: center; align-items: center; text-align: center;">
      <span class="navbar-text text-light">
        Derechos reservados Universidad Nacional Autónoma de Honduras {{ currentYear }}
        <br>
        Desarrollado por la Vicerrectoría Académica - Dirección de Docencia
      </span>
    </div>
    <img src="Logo Blanco.png" alt="Logo Derecha" style="transform: translateX(-30px);">
    <img src="Logo DD-VRA UNAH Derecho.png" class="mobile-only">
  </div>
} @else {
  <ng-template #loadingHeader>
  </ng-template>
} -->
